.praesidium {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.praesidium .card {
    width: calc(50% - 8px);
    margin-bottom: 24px;
    border: solid 1px var(--grey-light);
    background-color: white;
    box-shadow: none;
}
.praesidium .card:nth-of-type(odd) {
    margin-right: 16px;
}
.praesidium .person {
    width: 100%;
    margin: 0;
}

@media only screen and (max-width: 720px) {
    .praesidium {
        flex-direction: column;
    }
    .praesidium .card {
        width: 100%;
        margin-right: 0;
    }
}
