@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald');

:root {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: var(--text);
    font-size: 16px;
    --text: #606060;
    --text-lighter: #545454;
    --grey-light: #eee;
    --blue: #003c92;
    --blue-light: #2771db;
    --red: #7f182d;
    --red-light: #bf2443;
    --red-lighter: #ffeefd;
}
body {
    background-color: #f5f5f8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: var(--blue);
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}
h2::after {
    margin-top: 8px;
    display: block;
    content: "";
    height: 2px;
    width: 128px;
    background-color: var(--blue);
}
.four-oh-four {
    min-height: calc(100vh - 160px);
}
.four-oh-four .large {
    font-size: 64px;
}
a {
    color: var(--blue-light);
    text-decoration: none;
}
a.button {
    color: white;
    background-color: var(--blue-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px;
    margin: 16px auto;
    max-width: 420px;
    font-weight: 700;
    text-transform: uppercase;
}
a.button img {
    height: 24px;
    width: 24px;
    margin: 0;
    margin-right: 8px;
    box-shadow: none;
}
a.button:active {
    opacity: 0.7;
}
img.small {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
}
img.large {
    width: 64px;
    min-width: 64px;
    height: 64px;
    min-height: 64px;
}
img.rounded {
    border-radius: 50%;
}
em {
    font-style: normal;
    font-weight: 700;
}
.container {
    max-width: 964px;
    padding: 32px;
    box-sizing: content-box;
    margin: 0 auto;
}
.container.page {
    margin-top: 32px;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
header {
    box-sizing: border-box;
    padding: 200px 0;
    text-align: center;
    color: var(--red-lighter);
    background-image: url("/assets/banner.png");
    background-size: cover;
    background-position: center;
}
header h1 {
    font-family: "Roboto Bold", "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: white;
    margin: 0;
}
header h1::after {
    display: block;
    content: "";
    margin: 24px auto;
    height: 2px;
    width: 128px;
    background-color: var(--red-lighter);
    opacity: 0.7;
}
header p {
    opacity: 0.7;
    font-style: italic;
}
.neumorphic {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2),
        -10px -10px 30px rgba(255, 255, 255, 0.2);
}
.card {
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;
}
.card.intro {
    max-width: 720px;
    margin-top: -80px;
    padding: 32px;
    margin-bottom: 16px;
}
.card.intro.meta {
    border-left: solid 4px var(--red-light);
    padding-left: 16px;
}
.card.intro .meta p {
    margin: 0;
    font-size: 20px;
    color: var(--text);
    font-weight: 100;
    font-family: "Oswald Light", "Oswald", Arial, Helvetica, sans-serif;
}
.card.intro h2 {
    margin: 0;
    color: var(--blue);
    font-size: 32px;
    font-weight: 600;
    font-family: "Roboto Bold", "Roboto", Arial, Helvetica, sans-serif;
}
.card.intro h2::after {
    display: none;
}
.card.intro h3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: var(--blue-light);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
    margin-bottom: 32px;
}
.card.intro h3 .superscript {
    font-size: 14px;
    margin-right: 8px;
}
.card.intro .logo {
    height: 48px;
}
.card.intro .button {
    margin-bottom: 0;
    margin-top: 32px;
}
.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.timer section {
    flex-grow: 2;
    text-align: center;
}
.timer .value {
    font-size: 40px;
    color: var(--blue);
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}
.timer .unit {
    text-transform: uppercase;
    color: var(--text);
    margin-top: 8px;
    font-weight: 300;
    font-family: "Roboto Light", "Roboto", Arial, Helvetica, sans-serif;
}
.intro p,
.card.intro p {
    line-height: 32px;
}
.socials {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
}
.socials a {
    display: flex;
    flex-direction: row;
}
.socials img {
    margin-right: 16px;
}
.socials p {
    line-height: initial;
}
.person {
    margin-top: 32px;
    margin-bottom: 16px;
    width: 33.32%;
    display: flex;
    flex-direction: row;
}
.person div {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.person h3,
.person p {
    margin: 0;
    margin-bottom: 2px;
    flex-direction: row;
}
.person a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
}
.person img {
    border-radius: 50%;
    margin-right: 16px;
}
.kalender img {
    display: block;
    max-width: 100%;
    width: 420px;
    margin: 0 auto;
}

iframe.statutes {
    width: 100%;
    height: calc(100vh - 317px);
    min-height: 66vh;
}

@media only screen and (max-width: 964px) {
    header h1 {
        font-size: 48px;
    }
    .card.intro .meta p {
        font-size: 16px;
    }
    .card.intro .meta h2 {
        font-size: 24px;
    }
    .socials,
    .social {
        flex-direction: column;
    }
    .socials a {
        margin-bottom: 16px;
    }
    .socials div {
        width: 100%;
    }
}

@media only screen and (max-width: 752px) {
    .card.intro {
        margin-left: 16px;
        margin-right: 16px;
        padding: 24px;
    }
}
