nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    font-family: "Oswald Light", sans-serif;
    font-weight: 300;
    border-bottom: solid 1px var(--grey-light);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
}
nav .container {
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav img {
    height: 32px;
    margin-right: 8px;
}

nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 32px;
}
