nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    border-bottom: solid 1px var(--grey-light);
}
nav .container, nav .desktop-nav {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav img {
    height: 32px;
    margin-right: 8px;
}
nav .icon {
    height: 24px;
    margin: 0 0 0 4px;
}

nav .submenu-parent:hover .submenu{
    display: block;
}
nav .submenu {
    margin-right: 0;
    display: none;
    background-color: white;
    border-radius: 0 0 4px 4px;
    border: solid 1px var(--grey-light);
    border-top: none;
    position: fixed;
    top: 56px;
}
nav .submenu a {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

nav a, nav .submenu-parent {
    padding: 14px 4px;
    color: var(--blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 32px;
}
nav .mobile-nav {
    display: none;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 964px) {
    nav .desktop-nav {
        display: none;
    }

    nav .mobile-nav {
        display: block;
    }
    nav {
        padding: 0 16px;
    }
    nav .container {
        justify-content: space-between;
    }
}
